$menuColor:hsla(0,0%,100%,.65);
$menuBgColor:#001529;
$copyrightColor: rgba(0,0,0,.45);
$borderColor:#dcdfe6;
$bodyBgColor:#f0f2f5;
$barndColor:#409EFF;
$baseBgColor:#ffffff;
$textColor:#000000;
$minWidth: 1200px; // 最小宽度
$minHeight: 100vh; // 最小宽度
